<html>
    <head>
        <title>BasicWebApp</title>
    </head>
    <body>
        <h1>Welcome @ViewBag.Visitor.Name</h1>
        <b>Number of Greetings: </b>@ViewBag.Visitor.Count
    </body>
</html>
